In [1]:
import numpy as numpy
import pandas as pd 
import seaborn as sbrn 
import matplotlib.pyplot

##Reading Data

In [2]:
df = pd.read_csv("3yearsuntouched.csv")

In [3]:
df

,Unnamed: 0,Year,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,...,Zipcode,Timezone,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Weather_Condition,Traffic_Signal,Sunrise_Sunset
0,2,2016,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.010,State Route 32,Williamsburg,...,45176,US/Eastern,KI69,36.0,33.3,10.0,SW,Overcast,True,Night
1,3,2016,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.010,I-75 S,Dayton,...,45417,US/Eastern,KDAY,35.1,31.0,9.0,SW,Mostly Cloudy,False,Night
2,4,2016,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.010,Miamisburg Centerville Rd,Dayton,...,45459,US/Eastern,KMGY,36.0,33.3,6.0,SW,Mostly Cloudy,True,Day
3,5,2016,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.010,Westerville Rd,Westerville,...,43081,US/Eastern,KCMH,37.9,35.5,7.0,SSW,Light Rain,False,Day
4,6,2016,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.000,N Woodward Ave,Dayton,...,45417-2476,US/Eastern,KDAY,34.0,31.0,7.0,WSW,Overcast,False,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,7652504,2017,2,2017-08-29 14:32:25,2017-08-29 20:32:25,28.879630,-82.092960,0.722,I-75 S,Wildwood,...,34785,US/Eastern,KVVG,80.0,80.0,10.0,VAR,Light Rain with Thunder,False,Day
314281,7652579,2017,2,2017-08-29 15:15:51,2017-08-29 21:15:51,37.993881,-92.795869,0.000,Sunny Slope Dr,Camdenton,...,65020,US/Central,KH21,75.0,75.0,10.0,N,Cloudy,False,Day
314282,7652658,2017,2,2017-08-29 15:55:36,2017-08-29 21:55:36,46.617235,-113.051251,0.000,US-12 W,Drummond,...,59832,US/Mountain,K3DU,89.0,89.0,3.0,SSE,Haze,False,Day
314283,7653119,2017,4,2017-08-30 05:08:21,2017-08-30 11:08:21,46.672100,-113.153690,9.486,US-12 W,Drummond,...,59832,US/Mountain,K3DU,57.0,57.0,4.0,CALM,Haze,False,Night
314284,7653237,2017,3,2017-08-30 08:51:10,2017-08-30 14:51:10,34.344290,-118.504950,0.430,CA-14 S,Newhall,...,91321,US/Pacific,K3A6,85.0,85.0,10.0,CALM,Fair,False,Day

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314285 entries, 0 to 314284
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         314285 non-null  int64
 1   Year               314285 non-null  int64
 2   Severity           314285 non-null  int64
 3   Start_Time         314285 non-null  object
 4   End_Time           314285 non-null  object
 5   Start_Lat          314285 non-null  float64
 6   Start_Lng          314285 non-null  float64
 7   Distance(mi)       314285 non-null  float64
 8   Street             314285 non-null  object
 9   City               314285 non-null  object
 10  County             314285 non-null  object
 11  State              314285 non-null  object
 12  Zipcode            314285 non-null  object
 13  Timezone           314285 non-null  object
 14  Airport_Code       314285 non-null  object
 15  Temperature(F)     314285 non-null  float64
 16  Wind_Chill(F)      314285 non-null  float64
 17  Visibility(mi)     314285 non-null  float64
 18  Wind_Direction     314285 non-null  object
 19  Weather_Condition  314285 non-null  object
 20  Traffic_Signal     314285 non-null  bool
 21  Sunrise_Sunset     314285 non-null  object
dtypes: bool(1), float64(6), int64(3), object(12)
memory usage: 50.7+ MB

In [14]:
df.iat[0,3]

'2016-02-08 06:49:27'

In [23]:
df.iat[0,4]

'2016-02-08 07:19:27'

In [15]:
for i in range(314284):
    if(len(df.iat[i,3])>19 or len(df.iat[i,4])>19):
        df.iat[i,3] = df.iat[i,3][:19]
        df.iat[i,4] = df.iat[i,4][:19]

In [25]:
Start_Time = pd.to_datetime(df.Start_Time)
End_Time = pd.to_datetime(df.End_Time)
Time_Diff = (End_Time - Start_Time).astype('timedelta64[s]')

In [22]:
Time_Diff

0        0 days 00:30:00
1        0 days 00:30:00
2        0 days 00:30:00
3        0 days 00:30:00
4        0 days 00:30:00
               ...
314280   0 days 06:00:00
314281   0 days 06:00:00
314282   0 days 06:00:00
314283   0 days 06:00:00
314284   0 days 06:00:00
Length: 314285, dtype: timedelta64[ns]

In [26]:
min(Time_Diff)

Timedelta('0 days 00:07:00')

In [29]:
max(End_Time)

Timestamp('2022-07-20 10:49:45')

In [30]:
min(Start_Time)

Timestamp('2016-01-14 20:18:33')

In [28]:
max(Time_Diff)

Timedelta('1553 days 01:25:45')

In [27]:
df['TimeDiff'] = Time_Diff